!!! 5
html
  head
    title #{strings.title}
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.6.min.js")
    meta(name="viewport", content="width=320")
  body.mobile
    div!= body
